.tabs-top.card{
  margin:20px 0;
}
.ellipsis{
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 60%
}
.list.pad-top{
  padding-top: 50px;
  .item{
    padding-top: 5px;
  }
}
.ngdialog{
  width: 100%;
  overflow: hidden;
}
.ngdialog, .ngdialog-overlay{
  top: 6%;
}
  
.ngdialog.ngdialog-theme-default .ngdialog-content{
  min-height: 100px;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
} 
