<ion-view view-title="书城" ng-controller="bookstoreCtrl">
  <ion-header-bar>书城</ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <div class="item item-input">

        <input type="text" placeholder="查找" ng-model="book.bookName">
        <button  class="button-clear" ng-click="search()">
          <i class="icon ion-search placeholder-icon"></i>
        </button>
      </div>
    </div>
    <div class="tabs tabs-top card tabs-background-light">
      <a class="tab-item" ng-click="changeType(0)">
        全部
      </a>
        <a class="tab-item" ng-click="changeType(1)">
          精选
        </a>
        <a class="tab-item" ng-click="changeType(2)">
         出版
        </a>
        <a class="tab-item" ng-click="changeType(3)">
          男生
        </a>
        <a class="tab-item" ng-click="changeType(4)">
          女生
        </a>
    </div>

    <div class="list pad-top">

				<a class="item item-thumbnail-left  card" ui-sref="login.bookstore.detail({id:item.booksId})"
				      collection-repeat="item in books"
				      collection-item-width="'100%'"
				     >

                <img  ng-src="{{item.imgPath}}">
                <h2>{{item.bookName}}</h2>{{item.author}}
                <p>{{item.updatedTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                <p>{{item.description}}</p>

			    </a>

			</div>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadBooks()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
