<ion-view view-title="书城" ng-controller="bookstoreDetailCtrl">
  <ion-header-bar>书城</ion-header-bar>
  <ion-content>
      <ion-list>
          <ion-item class="item-thumbnail-right item-borderless"><img class="card" ng-src="{{book.imgPath}}">
              <div class="card padding-left padding-top">书名:{{book.bookName}}
              <label class="block">作者:{{book.author}}</label>
              <label class="block">更新时间:{{book.updatedTime|date:'yyyy-MM-dd HH:mm:ss'}}</label>
              评分:{{book.hotScore}}</div>
              <div class="item item-borderless">
                简介：{{book.description}}
              </div>
              <div class="item  col-33 row-center col-center text-center item-balanced" style="margin:0 auto;">
                 <a ng-click="share()" class="dark"><i class="ion-share"></i>分享给好友 </a></div>
              <div class="item-borderless item item-icon-right">

                <a ng-click="share()" class="dark">查看目录：共1000章</a>
                <i class="ion-chevron-right"></i>
              </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
