<ion-view view-title="找回密码">
    <ion-header-bar align-title="center" class="bar bar-assertive">
        <a class="button icon ion-backspace pull-left" ui-sref="login.signin">返回</a>
        <span class="button">
            {{app.name}}找回密码
        </span>
    </ion-header-bar>
    <form  name="findPassword" novalidate>
        <ion-content class="padding">

            <div class="list">
                <label class="item item-input ">
                    <span class="input-label">请输入您的账号<i class="icon ion-star assertive"></i></span>
                    <input type="password" name="myAccount" placeholder="账号/邮箱" ng-model="findPassword.account"  required ng-maxlength="50" >
                </label>
               <span  style="color:maroon" ng-messages="findPassword.myAccount.$dirty&&findPassword.myAccount.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">账号不能为空</div>
                        <div ng-message="maxlength" class="link-right">账号最大长度为50</div>
                    </span>
                <label class="item item-input ">
                    <span class="input-label">请输入接收到的验证码<i class="icon ion-star assertive"></i></span>
                    <input type="password" name="myCaptcha"  ng-model="findPassword.captcha" required ng-maxlength="10" >
                </label>
               <span  style="color:maroon" ng-messages="findPassword.myCaptcha.$dirty&&findPassword.myCaptcha.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">验证码不能为空</div>
                        <div ng-message="maxlength" class="link-right">验证码最大长度为10</div>
                    </span>
                <label class="item item-input ">
                    <span class="input-label">新密码<i class="icon ion-star assertive"></i></span>
                    <input type="password" name="passwordToUse" placeholder="新密码" ng-model="findPassword.newpassword"  required ng-maxlength="30">
                </label>
                <span  style="color:maroon" ng-messages="findPassword.passwordToUse.$dirty&&findPassword.passwordToUse.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">新密码不能为空</div>
                        <div ng-message="minlength,maxlength" class="link-right">密码长度为6到30位</div>
                    </span>
                <label class="item item-input ">
                    <span class="input-label">确认密码<i class="icon ion-star assertive"></i></span>
                    <input type="password" name="retyped" placeholder="请确认密码"  ng-model="retypedPassword" bf-assert-equals="findPassword.newpassword" bf-field-error="{same:' 两次输入的密码不一致'}" required>
                </label>
                 <span  style="color:maroon" ng-messages="findPassword.retyped.$dirty&&findPassword.retyped.$error"  class="item" role="alert">
                        <div ng-message="required" class="link-right">请确认密码</div>
                        <div ng-message="same" class="link-right">两次输入不一致</div>
                    </span>
                <button type="submit" class="button button-block button-balanced" ng-disabled="findPassword.$invalid" ng-click="findPassword();">
                    修改密码
                </button>
            </div>
        </ion-content>
    </form>

</ion-view>
