<ion-view view-title="个人中心" ng-controller="selfCtrl">
  <ion-header-bar class="bar bar-assertive" align-title="center">个人中心</ion-header-bar>
  <ion-content>
   	  	<ion-list>
            <a ng-href="#/app/self/edit/{{user.userName}}" class="card item item-avatar-right">
                个人资料
              <img ng-src="{{user.imgPath}}">
            </a>
          <a ng-href="#/app/self/disk" class=" item item-icon-left">
            <i class="ion-document"></i>
            个人云盘
          </a>
          <a ng-href="#/app/self/order" class=" item item-icon-left">
            <i class="ion-ios-cart ion-android-cart"></i>
            我的购买记录
          </a>
          <a ng-href="#/app/self/history"  class=" item item-icon-left">
            <i class="ion-bookmark"></i>
            阅读历史</a>
          <a ng-href="#/app/self/setting" class="item item-icon-left">
            <i class="ion-settings"></i>
            设置
          </a>
        </ion-list>
  </ion-content>
</ion-view>

