<ion-view title="个人信息" ng-controller="selfEditCtrl">
  <form name="_userInfo" novalidate>

    <ion-content>
      <div class="list">
        <label class="item item-input item-input-inset">
          <span class="input-label"> 头像 <i class="icon ion-information-circled assertive"></i></span>
          <button class="item item-avatar-right item-borderless"  ngf-select ng-model="file"
                  ngf-validate="{size: {min:'10KB', max:'1MB'}}" ng-change="loadFile(file)" ngf-pattern="image/*">
            <img ngf-src="file">
          </button>
        </label>
        <label class="item item-input">
          <span class="input-label"> 账号</span>
          <input type="text" name="userName" onkeydown="return false;" ng-model="userInfo.userName" maxlength="50">
        </label>
        <label class="item  item-input">
          <span class="input-label"> 性别 </span>
           <ion-radio ng-repeat="item in items" ng-model="userInfo.sex" ng-value="$index">{{item}}</ion-radio>
        </label>
        <label class="item item-input">
          <span class="input-label">生日  </span>
          <ionic-datepicker date="userInfo.birth" min="minDate" max="maxDate" callback="datePickerCallback">
            <input type="text" name="birth"/>{{userInfo.birth | date:'yyyy-MM-dd'}}
          </ionic-datepicker>
        </label>

        <label class="item item-input">
          <span class="input-label"> 手机 <i class="icon ion-information-circled assertive"></i></span>
          <input type="number" name="mobile" ng-model="userInfo.mobile" required ng-maxlength="20">
        </label>
        <span ng-show="_userInfo.mobile.$error && _userInfo.mobile.$dirty" ng-hide="_userInfo.mobile.$valid || _userInfo.mobile.$pristine" ng-messages="_userInfo.mobile.$dirty&&_userInfo.mobile.$error" style="color:maroon" class="item" role="alert">
                <div ng-message="required" class="font-small">请输入手机号</div>
                <div ng-message="maxlength" class="font-small">手机不能超过20位</div>
           </span>

        <label class="item item-input">
          <span class="input-label">地区 </span>
          <input type="text" name="address" ng-model="userInfo.location">
        </label>
        <label class="item item-input">
          <span class="input-label">简介  </span>
          <input type="text" name="description" ng-model="userInfo.description">
        </label>
      </div>
       <button type="submit" ng-click="submitForm()"  ng-disabled="_userInfo.$invalid"  class="button button-assertive button-block">
        <i class="ion-checkmark"></i>修改 </button>
    </ion-content>
  </form>
</ion-view>
