<ion-view view-title="个人云盘" ng-controller="selfDiskCtrl">
  <ion-header-bar class="bar bar-assertive" align-title="center">个人云盘</ion-header-bar>
  <ion-content class="padding">
    <button class="button button-block balanced-bg card"  ngf-select ng-model="file"
            ngf-validate="{size: {max:'15MB'}}" ng-change="loadFile(file)" ngf-pattern="text/*">
      <img ngf-src="file">选择文件
    </button>
    <div class="item  item-borderless light-bg"
         collection-repeat="item in books"
         item-width="'50%'"  item-height="140px">
      <a  class="button button-block" ng-click="viewBook($index)" >
        <span class="item">{{item.bookName}}</span>
        <span>{{item.author?item.author:'未知作者'}}</span>
      </a>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadByUid()" distance="10%"></ion-infinite-scroll>
    </div>


  </ion-content>
</ion-view>

