<ion-view title="书架" ng-controller="bookshelfViewCtrl"><ion-header-bar align-title="center"><a ui-sref="app.bookshelf.index" class="button button-clear button-balanced"><i class="ion-arrow-left-c"></i>返回</a></ion-header-bar><ion-content class="energized-bg"><div class="energized-bg" ng-click="modal.show()" ng-if="filePath" ng-style="{
      'font-family':'Verdana,Arial,Helvetica,sans-serif,Consolas',
      'font-size': fontSize+'px',
      'background-color': backdrop,
      'line-height': 2.0,
      'padding': '30px 10px'}">{{textContent}}</div><popup ng-if="loading" close="loading=false"><div class="light">读取中...</div></popup><div class="energized-bg" ng-click="modal.show()" ng-if="!filePath" ng-style="{
      'font-family':'Verdana,Arial,Helvetica,sans-serif,Consolas',
      'font-size': fontSize+'px',
      'line-height': 2.0,
      'padding': '30px 10px'}">{{textContent}}</div><ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll></ion-content></ion-view><script type="text/ng-template" id="operateMenu.html"><ion-modal-view >
     <ion-content>
       <ion-list>
          <div class="item range full-image">
            <a class="col-9 button button-light"><i class="ion-arrow-left-c">
              0%
            </i>
            </a>
            <input type="range" name="process" ng-model="readProcess" class="col-78">
            <a class="col-9 button button-light">
              <i class="ion-arrow-right-c">
                100%
              </i>
            </a>
          </div>

          <div class="item">
            <button class="button energized-bg card  col-15 col-offset-10" ng-click="changeStyle(1)"><span class="energized-bg"></span></button>
            <button class="button light-bg  card  col-15" ng-click="changeStyle(2)"><span class="light-bg "></span></button>
            <button class="button calm-bg card  col-15" ng-click="changeStyle(3)"><span class="calm-bg"></span></button>
            <button class="button balanced-bg card  col-15" ng-click="changeStyle(3)"><span class="balanced-bg"></span></button>
            <button class="button assertive-bg card  col-15" ng-click="changeStyle(4)"><span class="assertive-bg"></span></button>

          </div>
         <div class="item">
           <span class="col-20"><button class="button button-light col-offset-10" ng-click="smaller()">A<small>-</small></button><span style="line-height:47px">{{fontSize}}</span> <button class="button button-light" ng-click="larger()">A<small>+</small></button></span>
         </div>
       </ion-list>
    </ion-content>
    </ion-modal-view></script><script type="text/ng-template" id="chapterPage.html"><ion-modal-view>

        <ion-content>
          <ion-header-bar><button class="button button-light" ng-click="sideModal.hide()">关闭</button></ion-header-bar>
          <ion-tabs class="tabs-top  card tabs-background-light">
            <a class="tab-item col-50" ng-click="showChapters()"><h5>.目录</h5></a>
            <a class="tab-item col-50" ng-click="showBookmarks()"><h5>.书签</h5></a>
            <ion-tab>

                <div class="item  item-borderless light-bg"
                     collection-repeat="item in chapters"
                     item-width="'100%'"  item-height="16px">
                </div>

            </ion-tab>
          </ion-tabs>
        </ion-content>
  </ion-modal-view></script>