<ion-view  title="书架" ng-controller="bookshelfCtrl">
  <ion-header-bar class="bar bar-assertive" align-title="center">书架</ion-header-bar>
  <ion-content>
	  <div class="list pad-top">

				<a class="item item-thumbnail-left card item-borderless padding" ui-sref="app.bookshelf.view({path:item.filePath})"  
				      collection-repeat="item in books"
				      collection-item-width="'31%'" 
				      collection-item-height="60px" 
				     >
 						{{item}}

			    </a>

			</div>
  </ion-content>
</ion-view>
