<ion-view  title="书架" ng-controller="bookshelfViewCtrl">
  <ion-content class="energized-bg">
	  <div class="energized-bg" ng-click="modal.show()" ng-if="!filePath">
	  	{{textContent}}
	  </div>
    <div class="energized-bg" ng-click="modal.show()" ng-if="filePath">
      {{textContent}}
    </div>
  </ion-content>
</ion-view>
<script type="text/ng-template" id="operateMenu.html">
  <ion-modal-view style="margin-top:450px;">
     <ion-content>
       <ion-list>
          <div class="item range full-image">
            <a class="col-9 button button-light"><i class="ion-arrow-left-c">
              0%
            </i>
            </a>
            <input type="range" name="process" ng-model="readProcess" class="col-78">
            <a class="col-9 button button-light">
              <i class="ion-arrow-right-c">
                100%
              </i>
            </a>
          </div>

          <div class="item">
            <button class="button energized-bg card  col-15 col-offset-10" ng-click="changeStyle(1)"><span class="energized-bg"></span></button>
            <button class="button light-bg  card  col-15" ng-click="changeStyle(2)"><span class="light-bg "></span></button>
            <button class="button calm-bg card  col-15" ng-click="changeStyle(3)"><span class="calm-bg"></span></button>
            <button class="button balanced-bg card  col-15" ng-click="changeStyle(3)"><span class="balanced-bg"></span></button>
            <button class="button assertive-bg card  col-15" ng-click="changeStyle(4)"><span class="assertive-bg"></span></button>

          </div>
         <div class="item">
           <span class="col-20"><button class="button button-light col-offset-10">A<small>-</small></button>{{fontSize}} <button class="button button-light">A<small>+</small></button></span>
         </div>
       </ion-list>
    </ion-content>
    </ion-modal-view>
</script>
<script type="text/ng-template" id="chapterPage.html">
  <ion-modal-view>

        <ion-content>
          <ion-header-bar><button class="button button-light" ng-click="sideModal.hide()">关闭</button></ion-header-bar>
          <ion-tabs class="tabs-top  card tabs-background-light">
            <a class="tab-item col-50" ng-click="showChapters()"><h5>.目录</h5></a>
            <a class="tab-item col-50" ng-click="showBookmarks()"><h5>.书签</h5></a>
            <ion-tab>

                <div class="item  item-borderless light-bg"
                     collection-repeat="item in chapterItems"
                     item-width="'100%'"  item-height="16px">
                  <a  class="button button-block" ng-click="viewBook($index)" >
                    <span class="item">{{item.data}}</span>
                  </a>
                  <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadDatas()" distance="10%"></ion-infinite-scroll>
                </div>

            </ion-tab>
          </ion-tabs>
        </ion-content>
  </ion-modal-view>
</script>

